---
import Projects from "../components/Projects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE } from "@/siteConfig";
---

<BaseLayout 
    title={SITE.title}
    description={SITE.description}
>
    <Projects />
    <h1 class="text-3xl font-bold bg-card text-card-foreground">Hello World</h1>
</BaseLayout>
