---
import { SITE } from "@/siteConfig.ts";
import ThemeToggle from "@/components/ThemeToggle.astro";

const NAV_LINKS = {
    home: {
        label: "home",
        path: "/",
    },
    about: {
        label: "about",
        path: "/about",
    },
    projects: {
        label: "projects",
        path: "/projects",
    },
    resume: {
        label: "resume",
        path: "/resume",
    },
    blog: {
        label: "blog",
        path: "/blog",
    },
};
---

<header
    class="fixed top-0 z-50 w-full border-b border-border bg-background/60 backdrop-blur-xl"
>
    <div
        class="mx-auto flex max-w-screen-md items-center justify-between px-4 py-3 sm:px-6"
    >
        <!-- Logo + Title -->
        <a href="/" class="flex items-center space-x-3 group">
            <span
                class="text-lg font-semibold text-foreground sm:text-xl"
            >
                {SITE.title}
            </span>
        </a>
        <nav>
            <ul class="flex items-center gap-5 p-0">
                {
                    Object.values(NAV_LINKS).map((item: any) => (
                        <li>
                            <a href={item.path} class="prose">{item.label}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
